<div class="wrapper">
  <div class="page-header page-header-sm" data-parallax="false">
    <div class="product-container">
      <div class="filter"></div>
      <%= image_tag(@featured_product.image_url, class: "page-header-sm img-fluid product-image") %>
    </div>
  </div>
  <br>
  <div class="section profile-content">
    <div class="container">
      <p id="notice"><%= notice %></p>
      <div class="owner">
        <div class="name">
          <h1 class="title"><%= @featured_product.name %></h1>
          <h3 class="description"><%= @featured_product.category %></h3>
        </div>
        <br>
      </div>
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <p><%= @featured_product.description %></p>
          <h4>
            Price:
            <%= @featured_product.price %>
            $
          </h4>
          <br>
          <btn class="btn btn-outline-info btn-round">
            <i class="nc-icon nc-settings-gear-65"></i>
            System Requirements</btn>
          <btn class="btn btn-outline-success btn-round">
            <i class="nc-icon nc-cart-simple"></i>
            Add to Cart</btn>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= link_to 'Browse All Games', '/products', :class => "btn btn-natural btn-link btn-lg" %></div>
</div>
