<div class="home-slider">
  <ul class="slides">

    <li>
      <div class="container">
        <h2 class="text-center slide-title" id="list">FEATURED GAMES</h2>
        <div class="slide-content">
          <h2 class="slide-title">FIFA 18</h2>
          <small class="slide-subtitle">$59.00</small>
          <p>Play like Ronaldo. Data capture of the Real Madrid star's acceleration, skills, run cadence, and shooting technique were all recorded to bring complete accuracy to his likeness and personality in FIFA 18.</p>
          <a href="#" class="button">Add to cart</a>
        </div>
        <%= image_tag("game-cover-1.jpg", class: "slide-image") %>
      </div>
    </li>
    <li>
      <div class="container">
        <div class="slide-content">
          <h2 class="slide-title">Need for Speed Payback</h2>
          <small class="slide-subtitle">$79.00</small>
          <p>Set in the underworld of Fortune Valley, you and your crew are reunited by a search for vengeance against The House, a nefarious cartel that rules the city’s casinos, criminals, and cops. In this corrupt gambler’s paradise, the stakes are high and
            The House always wins.</p>
          <a href="#" class="button">Add to cart</a>
        </div>
        <%= image_tag("game-cover-2.jpg", class: "slide-image") %>
      </div>
    </li>
    <li>
      <div class="container">
        <div class="slide-content">
          <h2 class="slide-title">Call of Duty WWII</h2>
          <small class="slide-subtitle">$99.00</small>

          <p>A breathtaking experience that redefines World War II for a new gaming generation. Land in Normandy on D-Day and battle across Europe through iconic locations in history’s most monumental war. Experience classic Call of Duty combat, the bonds of
            camaraderie, and the unforgiving nature of war.</p>

          <a href="#" class="button">Add to cart</a>
        </div>

        <%= image_tag("game-cover-3.jpg", class: "slide-image") %>
      </div>
    </li>
  </ul>
  <!-- .slides -->
</div>
<!-- .home-slider -->
<main class="main-content">
  <div class="container">
    <div class="page">
      <section>
        <header>
          <h2 class="section-title">New Products</h2>
          <a href="#" class="all">Show All</a>
        </header>

        <div class="product-list">
          <div class="product">
            <div class="inner-product">
              <div class="figure-image">
                <a href="#"><%= image_tag("game-1.png") %></a>
              </div>
              <h3 class="product-title">
                <a href="#">GTA V</a>
              </h3>
              <small class="price">$39.00</small>
              <p>The greatest open-world game is available now.</p>
              <a href="#" class="button">Add to cart</a>
              <a href="#" class="button muted">Read Details</a>
            </div>
          </div>
          <!-- .product -->

          <div class="product">
            <div class="inner-product">
              <div class="figure-image">
                <a href="#"><%= image_tag("game-2.jpg") %></a>
              </div>
              <h3 class="product-title">
                <a href="#">Far Cry 4</a>
              </h3>
              <small class="price">$29.00</small>
              <p>The world #1 Adventure FPS is available now.</p>
              <a href="#" class="button">Add to cart</a>
              <a href="#" class="button muted">Read Details</a>
            </div>
          </div>
          <!-- .product -->

          <div class="product">
            <div class="inner-product">
              <div class="figure-image">
                <a href="#"><%= image_tag("game-3.jpg") %></a>
              </div>
              <h3 class="product-title">
                <a href="#">Assassin's Creed Origins</a>
              </h3>
              <small class="price">$49.00</small>
              <p>The ultimate adventure game is available now.</p>
              <a href="#" class="button">Add to cart</a>
              <a href="#" class="button muted">Read Details</a>
            </div>
          </div>
          <!-- .product -->

          <div class="product">
            <div class="inner-product">
              <div class="figure-image">
                <a href="#"><%= image_tag("game-4.jpg") %></a>
              </div>
              <h3 class="product-title">
                <a href="#">PES 18</a>
              </h3>
              <small class="price">$79.00</small>
              <p>The most advanced football game is available now.</p>
              <a href="#" class="button">Add to cart</a>
              <a href="#" class="button muted">Read Details</a>
            </div>
          </div>
          <!-- .product -->

        </div>
        <!-- .product-list -->

      </section>

    </div>
  </div>
  <!-- .container -->
</main>
<!-- .main-content -->
