<%= form_with(model: product, local: true) do |form| %>
<% if product.errors.any? %>
  <div class="col-md-12 text-center" id="error_explanation">
    <h4><%= pluralize(product.errors.count, "error") %>
      prohibited this product from being saved:</h4>
    <ul>
      <% product.errors.full_messages.each do |message| %>
        <li>
          <h5><%= message %>
          </h5>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="col-md-12 text-center">
  <div class="field">
    <p>
      <label><%= form.label :name, :class => "register-form" %></label>
    </p>
    <%= form.text_field :name, id: :product_name ,:class => "form-control"%>
  </div>
</div>
<br>
<div class="col-md-12 text-center">
  <div class="field">
    <p>
      <label><%= form.label :category, :class => "register-form" %></label>
    </p>
    <%= form.text_field :category, id: :product_category ,:class => "form-control"%>
  </div>
</div>
<br>
<div class="col-md-12 text-center">
  <div class="field">
    <p><%= form.label :description %></p>
    <%= form.text_area :description, id: :product_description, :class => "form-control", :rows => "6" %>
  </div>
</div>
<br>
<div class="col-md-12 text-center">
  <div class="field">
    <p><%= form.label :image_url %></p>
    <%= form.text_field :image_url, id: :product_image_url,:class => "form-control" %>
  </div>
</div>
<br>
<div class="col-md-12 text-center">
  <div class="field">
    <p><%= form.label :price %></p>
    <%= form.text_field :price, id: :product_image_url,:class => "form-control" %>
  </div>
</div>
<br>
<div class="col-md-12 text-center">
  <div class="actions">
    <%= form.submit 'Save', :class => "btn btn-warning btn-link btn-lg" %>
  </div>
<% end %>
</div>
