<%= render 'shared/main' %>
<br>
<div class="wrapper">
  <div class="section profile-content">
        <div class="name text-center">
          <h1 class="title text-default">
            Order #<%= @order.id %>
          </div>
          <div class="col-md-8 mx-auto">
          <%= image_tag(@order.product.image_url, :class => "img-fluid p-2") %>
          </div>
        <div class="text-center">
          <h5> Game: <%= @order.product.name %></h5>
          <h5> <%= @order.product.category %></h5>
          <h5> <%= "Price: #{@order.total} $" %></h5>
        </div>
    </div>
  </div>
<div class="text-center">
  <%= link_to 'Browse All Orders', orders_path, :class => "btn btn-natural btn-link btn-lg" %></div>
</div>
