<% if signed_in? %>

  <%= form_with(model: [@product, @product.comments.build], remote: true, :id => "new_comment") do |f| %>
  <h4>Add a review:</h4>
  <br>
  <p>
    <div class="rating"></div>
  </p>
  <p>
    <%= f.label :body, "Comments", :class => "register-form" %><br>
    <%= f.text_area :body,:class => "form-control", placeholder: "Add a comment!", :required => true %>
  </p>
  <p class="text-center mx-auto d-block">
    <%= recaptcha_tags %>
  </p>
  <p>
    <%= f.submit "Save", value: 'save', class: "btn btn-primary btn-lg my-2" %>
  </p>
<% end %>
<% end %>

<%= javascript_tag do %>
$(document).ready(function() { $('body,html').animate({ scrollTop: 1000 }, 800); });
<% end %>
