<div class="wrapper">
  <div class="page-header page-header-sm" data-parallax="false">
    <div class="product-container">
      <div class="filter"></div>
      <%= image_tag(@product.image_url, class: "page-header-sm img-fluid product-image") %>
    </div>
  </div>
  <br>
  <div class="section profile-content">
    <div class="container">
      <p id="notice" class="text-center"><%= notice %></p>
      <div class="owner">
        <div class="name">
          <h1 class="title"><%= @product.name %></h1>
          <h3 class="description"><%= @product.category %></h3>
        </div>
        <br>
      </div>
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <p><%= @product.description %></p>
          <br>
          <h4>
            Price:
            <%= @product.price %>
            $
          </h4>
          <br>
          <%= button_to 'Order Now', orders_path(product_id: @product.id, total: @product.price), class: "btn btn-lg btn-fill btn-info" %>
          <h4>User Ratings: <small>(<%= @product.comments.count%> reviews)</small>
            <div class="rated" data-score="<%= @product.average_rating %>"></div>
          </h4>
          <%= render 'new_comment' %>
          <br>
          <%= render 'comments' %>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= link_to 'Edit', edit_product_path(@product),:class => "btn btn-natural btn-link btn-lg" %>
    <%= link_to 'Browse All Games', products_path, :class => "btn btn-natural btn-link btn-lg" %></div>

</div>
