<% cache @product do %>
  <div class="wrapper" data-product-id="<%= @product.id %>">
    <div class="page-header page-header-sm" data-parallax="false">
      <div class="product-container">
        <div class="filter"></div>
        <%= image_tag(@product.image_url, class: "page-header-sm img-fluid product-image") %>
      </div>
    </div>
    <br>

    <div class="section profile-content">
      <div class="container">
        <div class="owner">
          <div class="name">
            <h1 class="title"><%= @product.name %></h1>
            <h3 class="description"><%= @product.category %></h3>
          </div>
          <br>
        </div>
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <p><%= @product.description %></p>
            <h4>
              Views:
              <span class="label label-info">
                <%= @product.views unless Rails.env.production? %></span>
            </h4>
            <br>
            <h4>
              Price:
              <%= @product.price %>
              $
            </h4>
            <br>
            <%= form_with(url: '/payments/create') do |form| %>
            <%= form.hidden_field :product_id, :value => @product.id %>
            <%= render partial: "shared/stripe_checkout_button" %>
          <% end %>
          <br>
          <%= button_to 'Order Now', orders_path(product_id: @product.id, total: @product.price), class: "btn btn-lg btn-fill btn-info" %>

          <h4 id="review">User Ratings:
            <small><%= pluralize(@product.comments.count, "review")%>
            </small>

            <div class="rated" id="#average-rating" data-score="<%= @product.average_rating %>"></div>
          </h4>
          <div class="d-block mx-auto my-3">
            <%= render 'shared/messages' %>
          </div>
          <%= render 'new_comment' %>
          <br>
          <div class="mx-auto col-md-8 alert alert-success alert-with-icon" data-notify="container">
            <div class="container">
              <div class="alert-wrapper">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="nc-icon nc-simple-remove"></i>
                </button>
                <div class="text-black message">
                  <i class="nc-icon nc-bell-55"></i>
            Notification: New review is being posted for product: <%= @product.name %> </div>
              </div>
            </div>
          </div>
          <!-- <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div> -->
          <%= render 'comments' %>
        </div>
      </div>
      <div class="pagination justify-content-center">
        <%= will_paginate @comments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    </div>
  </div>

  <div class="text-center">
    <%= link_to 'Edit', edit_product_path(@product),:class => "btn btn-natural btn-link btn-lg" %>
    <%= link_to 'Browse All Games', products_path, :class => "btn btn-natural btn-link btn-lg" %></div>

</div>
<% end %>
