<body class="slider-collapse">

  <div id="site-content">
    <div class="site-header">
      <div class="container">
        <a href="index.html" id="branding">
          <%= image_tag("logo.png") %>
          <div class="logo-text">
            <h1 class="site-title">GAMES HUB</h1>
          </div>
        </a>
        <!-- #branding -->

        <div class="right-section pull-right">
          <a href="#" class="cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            0 items in cart</a>
          <a href="#" class="login-button">Login</a>
        </div>
        <!-- .right-section -->

        <div class="main-navigation">
          <button class="toggle-menu">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="menu">
            <li class="menu-item home current-menu-item">
              <a href="index.html">
                <i class="icon-home"></i>
              </a>
            </li>
            <li class="menu-item">
              <%= link_to "PC", "/product" %>
            </li>
            <li class="menu-item">
              <%= link_to "PlayStation", "/product" %>
            </li>
            <li class="menu-item">
              <%= link_to "XBOX", "/product" %>
            </li>
            <li class="menu-item">
              <%= link_to "Wii", "/product" %>
            </li>
            <li class="menu-item">
              <%= link_to "About", "/about" %>
            </li>
            <li class="menu-item">
              <a href="#contact">Contact</a>
            </li>
          </ul>
          <!-- .menu -->
          <div class="search-form">
            <label>
              <%= image_tag("icon-search.png")%></label>
            <input type="text" placeholder="Search...">
          </div>
          <!-- .search-form -->

          <div class="mobile-navigation"></div>
          <!-- .mobile-navigation -->
        </div>
        <!-- .main-navigation -->
      </div>
      <!-- .container -->
    </div>
    <!-- .site-header -->
